# Archive the media files (media directory of web image) for transfer to Linux host

# The following variables need to be provided via the commandline:
#   NEW_VERSION - The new version being installed

- name: Download and install the new version of WEB Code
  hosts: web_hosts
  gather_facts: no

  vars_files:
    - ../group_vars/vars/deployment_vars.yaml
    - ../../OS/windows/vars/zip_utility.yaml

  vars:
    _MEDIA_ARCHIVE_FILE: "{{ NEW_VERSION }}_{{ MEDIA_ZIP_FILE }}"

  tasks:
  # ----------------------------------------------------------------------------------------
  # Archive the media directory into media.zip ZIP file.
  # ----------------------------------------------------------------------------------------
  - debug:
      msg:
        - 'MEDIA ZIP FILE: {{ _MEDIA_ARCHIVE_FILE }}'

  - name: Archive the media directory into MEDIA_ARCHIVE_FILE
    win_shell: 'cmd /c "{{ ZIP_EXECUTABLE }}" a -bd -mx9 -r {{ _MEDIA_ARCHIVE_FILE }}'
    args:
      chdir: '{{ WEB_MEDIA_DIR  }}'
    register: UNZIP_RESULTS

  - debug:
      msg:
        - "CMD: {{ UNZIP_RESULTS.cmd }}"
        - "FAILED? {{ UNZIP_RESULTS.failed }}"
        - "{{ UNZIP_RESULTS.stdout_lines }}"

  # ----------------------------------------------------------------------------------------
  # Copy archived MEDIA file to archive (for copying and avoiding collisions with image)
  # ----------------------------------------------------------------------------------------
  - name: Copy archived MEDIA file to archive (for copying and avoiding collisions with image)
    win_copy:
      src: '{{ WEB_MEDIA_DIR }}\{{ _MEDIA_ARCHIVE_FILE }}'
      dest: '{{ WEB_ARCHIVE_DIR }}\{{ _MEDIA_ARCHIVE_FILE }}'
      backup: no
      remote_src: yes

  # ----------------------------------------------------------------------------------------
  # Delete the ZIP file (the next deployment would unnecessarily archive it into the zip)
  # ----------------------------------------------------------------------------------------
  - name: Delete the zip file
    win_file:
      path: '{{ WEB_MEDIA_DIR }}\{{ _MEDIA_ARCHIVE_FILE }}'
      state: absent

  - name: Copy file to Ansible master node (to be transferred to WebStatic host).
    # Copying from Windows to Linux
    fetch:
      src: '{{ WEB_ARCHIVE_DIR }}\{{ _MEDIA_ARCHIVE_FILE }}'
      dest: '{{ LOCAL_TMP }}/'
      flat: yes
      fail_on_missing: yes

  - debug:
      msg:
        - 'Copied:'
        - 'Source: {{ WEB_ARCHIVE_DIR}}\{{ _MEDIA_ARCHIVE_FILE }}'
        - 'Destination: Master Node:{{ LOCAL_TMP }}/{{ _MEDIA_ARCHIVE_FILE }}'
