#2345678911234567892123456789312345678941234567895123456789612345678971234567898

# This is the Ansible PLAYBOOK framework for deploying the WEB aspects of 
# Mortgage Director.

# -------------------------------------------------
# REQUIRED CLI ARGS:
# - "OLD_VERSION": "Major.Minor.Hotfix.Build"
# - "NEW_VERSION": "MAjor.Minor.Hotfix.Build"
# - "ENV": <name of environment: PROD|UAT|STAGING|QA|DEV>
# -------------------------------------------------

- name: Get web server information 
  hosts: web_servers
  gather_facts: yes
  vars_files:
    - vars/deployment_vars.yaml

# 1) Backup the current version
# 1a) Backup the pclender database
# ---------------------------------------------------------------------------
# CREATE PLAYBOOK FOR THE FOLLOWING (using checklist from prod):
#   A. Backup pclender database on PCLUATWEBDB01 (10.0.102.21)
#        a. Log into SQLYog
#        b. Right click on the pclender database and choose Backup/Export
#        c. Backup Database as SQL Dump
#        d. Select Structure & Data
#        e. Export to D:\Backup\ and choose an appropriate file name
#        f. Export
# - import_playbook: <TBD>


# 1b) Backup the primary Apache Website  (Windows) --> USES "OLD_VERSION"
- import_playbook: steps/backup_primary_website.yaml


# 1c) Backup the static content (Linux) --> USES "OLD_VERSION"
- import_playbook: steps/backup_static_web_content.yaml


# 2) Get the file {version}.7z from ftp server
# 3) Extract the file
# 4) Copy the contents to the primary server (Windows) --> USES "NEW VERSION" + "ENV"
- import_playbook: steps/get_and_expand_zip_on_primary.yaml


# 5) Copy the media folder to /var/www/websites of NGINX 
- import_playbook: steps/archive_and_dl_media_files.yaml
- import_playbook: steps/copy_and_unzip_media_files_to_static.yaml


# 6) Restart the Apache services
- import_playbook: steps/restart_apache2_linux.yaml


# 7) Delete all my.js and my.css from /var/www/websites/site folder on NGINX
- import_playbook: steps/remove_media_js_css_files.yaml
